{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="col">
            <form class="login-form">
                <h2>LOGIN</h2>
                <label for="username">USERNAME</label>
                <input type="text" name="username" id="username">
                <br>
                <label for="password">PASSWORD</label>
                <input type="password" name="password" id="password">
                <br>
                <a HREF="/register">Don't have an account? Register here.</a>
                <br>
                <a HREF="/home">Just want to browse? Click here.</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
