{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="col">
            <form class="entry-form" method="POST" action="/login">
                <h2>LOGIN</h2>
                {% with messages = get_flashed_messages() %}
	                {% if messages %}
		                {% for message in messages %}
		                <p>{{ message }}</p>
		                {% endfor %}
	                {% endif %}
                {% endwith %}
                <input type="email" name="email" id="username" placeholder="EMAIL">
                <br>
                <input type="password" name="password" id="password" placeholder="PASSWORD">
                <br>
                <button type="submit">Submit</button>
                <br>
                <a HREF="/register">Don't have an account? Register here.</a>
                <br>
                <a HREF="/">Just want to browse? Click here.</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
