{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" action="/register" class="entry-form">
                <h2 id="register-title">REGISTER</h2>
                {% with messages = get_flashed_messages() %}
	                {% if messages %}
		                {% for message in messages %}
		                <p>{{ message }}</p>
                        {% endfor %}
	                {% endif %}
                {% endwith %}
                <input class="register-input" type="email" name="email" id="email_reg" placeholder="EMAIL">
                <br>
                <input class="register-input" type="password" name="password" id="password_reg" placeholder="PASSWORD">
                <br>
                <input class="register-input" type="password" name="password_confirm" id="password_confirm" placeholder="PASSWORD CONFIRM">
                <br> <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}