{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 id="register-title">REGISTER</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="/register">
                <input class="register-input" type="text" name="username_reg" id="username_reg" placeholder="USERNAME">
                <br>
                <input class="register-input" type="password" name="password_reg" id="password_reg" placeholder="PASSWORD">
                <br>
                <input class="register-input" type="password" name="password_confirm" id="password_confirm" placeholder="PASSWORD CONFIRM">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}