
 /* General*/

#navbardiv{
    height: 100px;
    width: 150px;
}

/* Header */
#navbar .nav-item{
    width: 100%;
    display: block;
}
#navbar{
    position:fixed;
    top:0;
}
/* Unclassified */

#error404{
    background: url(../img/Flag.png) no-repeat right center;
    height: calc(100vh - 56px);
    background-size: 600px 600px;
}
#error404h1{
    font-size: 8rem;
    margin-top: 2rem;
}
#brand{
    font-size: 30;
}
.login-form{
    text-align: center;
}