
 /* General*/
.entry-form{
    margin: auto;
    width: 50%;
    margin-top: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: silver;
    text-align: center;
}
.body{
    background-color: #1A1A1A;
}
.error-msg{
    color: white;
}

/* Images */
.profimg{
    height: 120px;
    width: auto;
}
.grid-item{
    width: calc(33.3333% - 10px);
    float: left;
    margin-bottom: 30px;
}
.grid-item img{
    width: 100%;
    height: auto;
}
#image-modal .modal-body{
    background-color:#1A1A1A;
}
#image-modal .modal-title{
    color: white;
}
#image-modal .modal-body p{
    color: white;
}
.modal-content{
    border: none;
}
.modal-content img{
    width: 100%;
    height: auto;
}
/* Edit */
.fas {
   color: white; 
}
/* Header */
#navbar .nav-item{
    width: 100%;
}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width: 225px;
    height: 225px;
    background-color: black;
    z-index: 1;
}
#navbar-brand{
    position:fixed;
    top:25;
}
.nav-link{
    color: #e6e6e6;
    text-align: right;
    padding: 5px;
}
.title{
    position:fixed;
    top: 35px;
}

/* Login */
.entry-form{
    position: relative;
    right: 120px;
    background-color: black;
}
.login-text{
    padding: 5px;
    margin: 5px;
}
h2{
    color: #e6e6e6;
}
.login-button{
    background-color: #e6e6e6;
    color: black;
}
.linkbtn{
    background-color: #e6e6e6;
    color: black;
    padding: 5px;
    margin: 10px;
}

/* Register */
.register-input{
    position: relative;
    top: 15px;
}
.register-label{
    position: relative;
    left: 75px;
}



/* Unclassified */

#error404{
    background: url(../img/Flag.png) right center;
    height: calc(100vh - 56px);
    background-size: 600px 600px;
}
#error404h1{
    font-size: 8rem;
    margin-top: 2rem;
}
#brand{
    font-size: 30;
}
@media (max-width:576px){
    .class{
        margin-top: 100;
    }
}