
 /* General*/
.entry-form{
    margin: auto;
    width: 50%;
    margin-top: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: silver;
    text-align: center;
}
/* Images */
.profimg{
    height: 120px;
    width: auto;
}

/* Header */
#navbar .nav-item{
    width: 100%;
    
}
#navbar{
    position:fixed;
    top:0;
    left:0;
    width: 200px;
    height: 150px;
}

/* Register */
.register-input{
    position: relative;
    top: 15px;
}
.register-label{
    position: relative;
    left: 75px;
}



/* Unclassified */

#error404{
    background: url(../img/Flag.png) right center;
    height: calc(100vh - 56px);
    background-size: 600px 600px;
}
#error404h1{
    font-size: 8rem;
    margin-top: 2rem;
}
#brand{
    font-size: 30;
}
