
 /* General*/
.entry-form{
    margin: auto;
    width: 50%;
    margin-top: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: silver;
    text-align: center;
}
/* Images */
.profimg{
    height: 120px;
    width: auto;
}
.grid-item{
    width: calc(33.3333% - 30px);
    float: left;
    margin-bottom: 30px;
}
.grid-item img{
    width: 100%;
    height: auto;
}

/* Header */
#navbar .nav-item{
    width: 100%;
}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width: 225px;
    height: 200px;
    background-color: black;
    z-index: 1;
}
#navbar-brand{
    position:fixed;
    top:25;
}
.nav-link{
    color: white;
    text-align: right;
    padding: 5px;
}
.title{
    position:fixed;
    top: 35px;
}



/* Register */
.register-input{
    position: relative;
    top: 15px;
}
.register-label{
    position: relative;
    left: 75px;
}



/* Unclassified */

#error404{
    background: url(../img/Flag.png) right center;
    height: calc(100vh - 56px);
    background-size: 600px 600px;
}
#error404h1{
    font-size: 8rem;
    margin-top: 2rem;
}
#brand{
    font-size: 30;
}
